<main class="fade-in bg-white p-4 my-4 rounded-sm shadow-sm">
  <%= render "project", project: @project %>
  <hr class="my-4">
  <% if !user_signed_in? %>
    <p class="mb-4 bg-gray-100 text-gray-500 p-4 inline-block"><%= link_to "Log in", new_user_session_path, class: "font-medium underline" %> or <%= link_to "sign up", new_user_registration_path, class: "font-medium underline" %> to leave a comment</p>
  <% end %>
  <div class="lg:flex lg:justify-between lg:space-x-6">
    <div class="flex-grow" data-react-comments data-user-signed-in="<%= user_signed_in? %>" data-project-id="<%= @project.id %>"></div>
    <div class="lg:w-96 lg:flex-shrink-0 flex mt-4 max-h-48"></div>
  </div>
</main>
